/****************************************************************
 * EXTENSION POINT:
 * Add your SCSS code here.
 * It will be added on top of Boost Union's SCSS code.
 ***************************************************************/

/** azureb2c login css changes **/
#page-login-index {

  .login-identityprovider-btn {
    display: block;
  }
  #toggleGuest,
  .login-identityprovider-btn[href$="/azureb2c/"] {
    display: none;
  }

}
#page-login-index.guestlogin {

  .login-identityprovider-btn {
    display: none;
  }
  #toggleGuest,
  .login-identityprovider-btn[href$="/azureb2c/"] {
    display: block;
  }

}
