/****************************************************************
 * EXTENSION POINT:
 * Add your SCSS code here.
 * It will be added on top of Boost Union's SCSS code.
 ***************************************************************/

/** azureb2c login css changes **/
#page-login-index {

  .login-identityprovider-btn {
    display: block;
  }
  #toggleGuest,
  .login-identityprovider-btn[href$="/azureb2c/"] {
    display: none;
  }

}
#page-login-index.guestlogin {

  .login-identityprovider-btn {
    display: none;
  }
  #toggleGuest,
  .login-identityprovider-btn[href$="/azureb2c/"] {
    display: block;
  }

}

/** wrap long activity names in courseindex drawer **/
.courseindex-link.text-truncate {
  white-space: normal;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
/** but stop the current course highlight from spreadnig over two lines **/
.courseindex .courseindex-section.current .current-badge {
  max-height: 2em;
}

/** hide a menu item from students **/
.rollover-student a[href*="culrollover"] {
    display: none;
}

/** allow course titles on recent modules to wrap **/
.block-recentlyaccessedcourses .course-card .coursename .text-truncate {
  white-space: initial;
}
